# Environment variables
.env

# Docker Volumes / Storage Data
budibase_storage/
portainer_storage/
redis_storage/

# Node.js
node_modules/
npm-debug.log

# Archives and Backups

*.rar
*.zip

# Documentation
*.docx
README.txt
*.pptx

# OS Specific
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
